[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/vim-scripts/ZenCoding.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/intelligenttags/plugin"]
	path = bundle/intelligenttags/plugin
	url = git://github.com/bahejl/Intelligent_Tags.git
[submodule "bundle/CycleColor"]
	path = bundle/CycleColor
	url = https://github.com/vim-scripts/CycleColor.git
[submodule "bundle/XPTemplate"]
	path = bundle/XPTemplate
	url = https://github.com/drmingdrmer/xptemplate.git
[submodule "bundle/Headlights"]
	path = bundle/Headlights
	url = https://github.com/mbadran/headlights.git
